html {
  box-sizing: 'border-box'
}

#main, #headers{
  clear: both;
  margin-top: 20px;
  margin-bottom: 30px;


}

.center {
        text-align: center;
        width: 800px;
        margin: 0 auto 0 auto;
}

#input-parent{
  padding: 40px 0 40px 0;
  position: relative;
  display: block;
  height: 160px;
}

#menu-btns{
  padding: 40px 0 40px 0;
}

ul {
    list-style: none;
    padding: 10px;
}

li {
    display: inline-block;
    padding: 12px 24px 12px 24px;
    margin: 4px;
    border-style: solid;
    border-width: 4px;
    border-radius: 25%;
    font-family: 'Ewert', cursive;
    font-size: 2em;
}

#guesses {
  border-color:#ffaa00;
  border-style: dotted;
  margin-right: 200px;
  margin-left: 200px;
  border-radius: 32px;
}

#goNumber {
  border-style-top: solid;
  border-style-right: solid;
  border-width: 4px;
  border-radius: 50%;
  padding: 30px;
  width:120px;
  height:120px;
  font-family: 'Ewert', cursive;
  font-size: 3em;
  position: absolute;
  top: 10%;
  left: 42%;
}

#goAdd {
  border-radius: 50%;
  border-style: none;
  padding: 5px;
  width:40px;
  height:40px;
  font-family: 'Arvo', serif;
  color:#ffffff;
  font-size: 1em;
  background-color: #ffaa00;
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 50%;
}

img {
    display: inline;
    width: 200px;
    height: 100px;
}

#title {
  font-family: 'Ewert', cursive;
  font-size: 3em;
}

#subtitle,h2,h3,h4,h5 {
  font-family: 'Arvo', serif;
  color: #ffaa00;
}

#goReset, #goHint {
  font-family: 'Arvo', serif;
  color: #ffaa00;
  font-size: 1.25em;

}

p.os {
  font-family: 'Open Sans', sans-serif;
  font-size: .75em;
  padding-top: 20px;

}



.fc{
    display: inline-block;
    width: 33%;
    height: 75px;
}

#footer {
    width: 100%;
    border-top: solid 2px black;
    background-color: white;
    
    bottom: 0;
}